*{
    margin: 0;
    padding: 0;
}
/* header css start */
.header{
    
    background-color: #E554731A;
    

    
   
}

.primary{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
   
    
}

.intro{
    
   
   width: 50%;
   padding-right: 100px;
   margin: auto 0;
   padding-left: 35px;
   
   
   
    
}
.intro-title{
color: #272727;
font-family: Lato;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
width: 100%;
}

.intro-des{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding: 30px 0;
}
.btn-primary{
    padding: 20px 43px;
    color: #FFFFFF;
    background-color: #E55473;
    border: none;
    border-radius: 5px;
    
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}


.intro-img{
    width: 50%;
    margin-top: 20px;
    
}
.intro-img>img{
    width: 100%;
    position: relative;
    top: 4px; left: 40px;
    
    

}
/* header css ends */

/* feature content start */
.feature-content{
    width: 50%;
    margin: 50px auto;
}
.feature-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 35px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.feature-des{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width: 90%;
}
/* feature content ends */

/* Flower section starts */
.flowers{
    width: 80%;
    display: flex;
    margin: 0 auto;
    
    gap: 18px;
    padding-bottom: 30px;
}


.purple ,.red,.yellow{

    border: none;
    width: 538px;
    height: 464px;

    border-radius: 300px 300px 0px 0px;

}
.purple{
    background-color: #A7216226;
}
.red{
    background-color: #0597A026;
}
.yellow{
    background-color: #477D1126;}
.purple>img{
    width: 310px;
    height: 428px;
    position: relative;
    left: 30px; top: 36px;
   
 
}



.red>img{
    width: 370px;
    height: 370px;
    position: relative;
    left: 10px; top: 80px;
}
.yellow>img{
    width: 314px;
    height: 471px;
    position: relative;
    left: 30px; bottom: 7px;
}
.purple>a{
    
    width: 20%;
    position: relative;
    left: 90px; top: 40px;
    
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
padding-bottom: 30px;
}
.red>a{
    
    width: 20%;
    position: relative;
    left: 90px; top: 98px;
    
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
padding-bottom: 30px;
}

.yellow>a{
   
    width: 20%;
    position: relative;
    left: 90px; bottom: 3px;
    
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
padding-bottom: 30px;
}
/* flower section ends */

/* Support section start */

.support{
    width: 80%;
    margin: 80px auto;
    display: flex;
    border-radius: 8px;
    
    background-color: #2727270D;
    padding: 50px 0;
    gap: 100px;
    justify-content: center;
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 35px;
    
}

.sameday>img,.fresh>img, .free>img{
    width: 75px;
    height: 75px;
    display: block;
    padding: 24px 0;
    margin-left: auto;
    margin-right: auto;
      
}
/* support section ends */

.hot{
    background-color: #E554730D;
   
}
.dealall{
    display: flex;
    width: 70%;
    margin: 0 auto;
    /* border: 2px solid blue; */
}
.deal{
    /* border: 1px solid white; */
    width: 70%;
    
    padding-top: 120px;
}
.deal-title{
    color: #272727;
font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-align: center;
}
.deal-title>span{
    color: #E55473;
}
.deal-des{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
text-align: center;
margin-top: 25px;

}
.btn-deal{
    color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 20px 43px;
background-color:#E55473;
border: none;
border-radius: 8px;
display: block;
margin: 25px auto;

}

.img-deal>img{
    width: 90%;
    display: block;
    margin: 60px auto 0 auto;


}
/* support section ends */

/* instagram section strats */
.instagram-content{
    width: 50%;
    margin: 50px auto;
}
.instagram-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 35px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.instagram-des{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width: 90%;
}

/* instagram section ends */
/* .four{
    width: 60%;
} */
.four-contain{
    display: flex;
    gap: 15px;
    /* border: 1px solid green; */
    width: 80%;
    margin: 0 auto;
    margin-bottom: 35px;
    
}
.four-pink {
    width: 26%;
}
.four-pink img{
    width: 100%;
}

/* four secion ends */
/* cover section starts */
.cover{
    width: 80%;
    background-image: url(/images/Rectangle\ 9.png);
    background-size: cover;
    height: 400px;
    margin: 100px auto;

}
.cover-content{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 20px;
}
.cover-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.cover-des{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.cover-search{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.src{
    border-radius: 8px;
background: #FFF;
width: 700px;
height: 64px;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
border: none;
font-weight: 400;
line-height: normal;
text-align: left;
padding-left: 30px;
}
.cover-search>button{
    border: none;
    border-radius: 8px;
    color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
background-color: #E55473;
padding: 20px 43px;
}

/* cover ends */
/* foter starts */
.footer{
    background-color: #111010;
}
.footdiv{
    width: 60%;
    margin: 0 auto;
    padding: 100px 0;
}
.footdiv>h3{
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-align: center;
}
.footdiv>p{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.footdiv>copy{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footdiv>h3>span{
    color: white;
}